[2015-05-27 15:37] ariel-phet opened #1 "Trig Tour Master Checklist"
## Design
- [x] **Design doc created** (Date: 05/26/2015)
  - [x] Shared with phet-team, phethelp@gmail is owner
- [x] **Learning goals and standards identified** (Date: 06/08/2015)
- [x] **Design concept complete**  (Date: 06/04/2015)
- [x] **Wireframes complete** (Date: 06/09/2015)
- [x] **Mockups complete** (Date: 07/02/2015)
  - [x] Mockups checked for colorblind and greyscale
- [x] **Intervie

[2015-05-27 15:38] ariel-phet opened #2 "Incorrect read me"
@jbphet please show @dubson how to generate the read-me for this sim

[2015-05-27 15:39] ariel-phet opened #3 "Trig Lab has not been added to list of active repos in chipper"
@jbphet please show @dubson how to add a repo to the list of active repost in chipper.

[2015-05-28 21:32] jbphet commented on #2
I guided @dubson through the creation of the correct readme file, but neglected to have him associate the commit with this issue.  The commit was https://github.com/phetsims/trig-lab/commit/b9fc54c35c52d10bf9a9822efc09ad5fec95921b.  Closing.

[2015-05-28 21:32] #2 closed

[2015-05-28 21:33] jbphet commented on #3
I worked with @dubson to do this, but neglected to have him associate the commit to this issue.  The commit was https://github.com/phetsims/chipper/commit/d37dba35513e0ece75f2a8fe487a94d34478b783.  Closing.

[2015-05-28 21:33] #3 closed

[2015-06-24 15:45] samreid opened #4 "AquaRadioButtons have ceased functioning"
After https://github.com/phetsims/chipper/commit/a282938be9077a980309b1330b9084e5e6c95e08 the radio button ceased functioning.  @samreid investigated in https://github.com/phetsims/chipper/issues/161 and suggested the problem may be due to:

So if this indeed the problem, we should switch to non-interationalized strings for choosing between tan/sin/cos/degrees/radians.

@dubson can you take it fro

[2015-06-24 15:52] dubson commented on #4
Yes, my code contains comparisons like graph === ‘cos’   but how can the String ‘cos’ get confused with my internationalized string for ‘cos’ which is

var cosStr = require( 'string!TRIG_LAB/cos' );

[2015-06-24 15:55] samreid commented on #4
For example, you will have to change:

[code]

to

[code]

That 2nd arg should be the property value, not the internationalized string text.  Probably same error for the units radio buttons.

[2015-06-24 15:57] jonathanolson commented on #4
First, I wouldn't rely on a translated string being anything particular in the code. Someone could translate it to a capitalized "Cos", and the comparison would be bad.

Second, string lookups (require statements for string!) now don't equal the exact values from the translation files, since it pads them with Unicode embedding marks so that LTR/RTL order is maintained even if LTR/RTL strings are c

[2015-06-24 15:57] dubson commented on #4
I see.  Thanks!!  I will correct my code.  Does seem like a future time bomb though.

[2015-06-24 15:58] dubson commented on #4
Understood, and I agree.  I withdraw my 'time bomb' remark.

[2015-06-24 16:02] dubson commented on #4
Issue resolved.  Plane crashed due to pilot error.  Pilot has been re-trained:
Never use internationalized strings in logic code.

[2015-06-24 16:02] #4 closed

[2015-06-25 15:07] pixelzoom opened #5 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-06-25 15:08] pixelzoom opened #6 "replace Math.round with dot.Util.roundSymmetric"
See https://github.com/phetsims/dot/issues/35#issuecomment-113587879 for a summary of the problems with Math.rouund.  Unless you have a specific (documented) need for non-symmetric rounding, use dot.Util.roundSymmetric.

[2015-06-25 21:50] dubson commented on #6
Done!  No longer using Math.round in trig-lab.

[2015-06-25 21:50] #6 closed

[2015-06-25 22:07] dubson commented on #5
Done!  Removed instances of js toFixed from Trig-Lab

[2015-06-25 22:07] #5 closed

[2015-07-06 15:16] dubson opened #7 "AccordionBox requires two children for de-linting"
I (MD) am using AccordonBox in trig-lab/view/GraphView, and my accordionBox has a nearly-empty content node consisting of one Text instance.  I am using AccordionBox merely to get the nice show/hide button with a title.  Issue: I get the error shown below when I try to de-lint.  Apparently, AccordionBox won't de-lint unless the display node has at least 2 children, otherwise the HBox is never inst

[2015-07-06 16:56] jbphet commented on #7
This lint error does not appear to be related to the AccordionBox - it looks like it came from NavigationBar.js.  NavigationBar.js was undergoing some changes, and my guess is that @dubson just happened to catch a version with a lint error.  I just updated and built trig-lab with no problems, so I think the issue is probably fixed.  Assigning back to @dubson.

[2015-07-27 18:42] orejolaphet opened #8 "Reset button does not reopen drop "values" menu"
Tested on OSX 10.10.4 Safari 8.0.7 and Chrome 43
Minor Severity
If you minimize the "Values" menu, then click the reset button, the "Values" menu does not return to its initial expanded position.

[2015-07-27 18:53] bryo5363 opened #9 "May want to set limit on number of rotations"
I successfully filled the screen with trace lines from rotations. Maybe a limit should be set on the amount of rotations so the screen does not get cluttered

![screen shot 2015-07-27 at 12 53 36 pm](https://cloud.githubusercontent.com/assets/7717368/8914797/88e11322-345e-11e5-9498-f9895b9eecbc.png)

[2015-07-27 20:28] elisemorgan commented on #9
I agree with @bryo5363 because the sim freezes a lot (on the iPad 2 iOS8) when there are a lot of rotations on the screen.

[2015-07-27 20:31] elisemorgan commented on #8
Also seen on iPad2 iOS8.3

[2015-07-27 20:48] elisemorgan opened #10 "Asymptotes only appear with Special Angles"
Test device: iPad 2

Operating System: iOS 8.3

Browser: Safari

Problem description: The asymptotes for the tan graph seem inconsistent because I'm not moving the cursor on the graph at all but the asymptote don't show until I select Special Angles.

Steps to reproduce: Move cursor to where asymptote should be. Observe that none is shown. Select Special Angles and the asymptote line appears.

Sev

[2015-07-27 20:52] elisemorgan opened #11 "Asymptote lines are undraggable"
Test device: iPad 2

Operating System: iOS 8.3

Browser: Safari

Problem description: When dragging the cursor continuously along the graph this issue is not present, but once the cursor is let go at an asymptote I cannot drag on the graph again. I have to drag on the unit circle then go back down to the graph.

Steps to reproduce: Select special angles. Drag cursor on graph to an asymptote. Relea

[2015-07-27 21:08] amanda-phet commented on #10
@elisemorgan that is true that this was a design decision. It IS possible to get the asymptote when not using special angles, but because it has to be precise it can be difficult!

[2015-07-27 21:09] amanda-phet commented on #8
This should definitely return to its original state.

[2015-07-27 21:11] amanda-phet commented on #9
We knew you'd probably try to do that! We also figured that most students in a classroom would get bored after a while...

@elisemorgan you say the sim freezes on the iPad after a lot of rotations- how many rotations are "a lot"?

[2015-07-27 21:17] elisemorgan commented on #9
![image](https://cloud.githubusercontent.com/assets/12610678/8917968/879bc4da-3472-11e5-99a0-6b3def624ba2.jpg)
@amanda-phet

[2015-07-27 22:20] amanda-phet commented on #9
We either need to make it so that we can do an infinite number of rotations without compromising performance or set a limit.

[2015-07-27 22:21] ariel-phet commented on #9
@dubson lets also layer the "graph view" above the drawing of the rotations (the panels look really nice layered above the rotations)

[2015-07-28 04:55] #10 closed

[2015-08-03 21:06] amanda-phet commented on #11
I noticed in today's interview a student trying to drag this line multiple times. I'll bring this up in the next design meeting.

[2015-08-11 23:06] pixelzoom opened #12 "odd history of version numbering"
I stumbled across this, mentioning both @dubson and @jbphet so that they are aware of this.

There are no dev versions of this sim published on spot.  Yet package.json shows `"version": "1.0.0-dev.16"`, as does dependencies.json.  And git history (see below) shows that "version" has been jumping all over the place.

Is there some confusion about the purpose of version numbering and the convention

[2015-08-11 23:09] pixelzoom commented on #12
Ah, I see a commit that says "Changing name of sim to Trig Tour".  Was this repository renamed from something else, perhaps trig-lab?  If so, that's something that the entire dev team needs to be notified about.

[2015-08-12 15:29] dubson commented on #12
Correct!  The sim that was called trig-lab has been renamed trig-tour.  My bad for not announcing this with a github issue.  Will create issue now.

[2015-08-12 15:31] dubson opened #13 "Sim trig-lab has been renamed trig-tour"
Be aware that the sim formerly named trig-lab has been renamed trig-tour. This was decided at the design meeting last week.  John Blanco assisted me in renaming the sim repo yesterday (Tues) afternoon. He also told me to announce the change in a GitHub issue, but I failed to do this until just now.

[2015-08-13 17:41] dubson opened #14 "Trig Tour Code Review"
Build and Run Checks

YES Does the sim pass jshint?
YES Does the sim build without errors?
YES Does the sim start up? (requirejs and built versions)
ALL GOOD. Does the sim experience any assertion failures? (run with query parameter 'ea')
YES Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')
ALL GOOD.  Are there any strings that are not being internationalized? (run w

[2015-08-13 19:53] jessegreenberg commented on #14
PhET code-review checklist
=============

**Build and Run Checks**

- [ ] Does the sim pass jshint?
- [ ] Does the sim build without errors?
- [ ] Does the sim start up? (requirejs and built versions)
- [ ] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [ ] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')
- [ ] Are there any strings

[2015-08-17 15:39] jessegreenberg opened #15 "Console statements at sim launch"
Found during code review, issue #14.  Two console statements are logged when the sim starts up which should probably be removed.

On TrigTourScreen line 31, and GraphView line 507:

![consolestatements](https://cloud.githubusercontent.com/assets/6396244/9308549/fcbc49c4-44c1-11e5-9b8c-1e84245977da.PNG)

For the error statement, it looks like this.trigFunction is initialized with an empty string so

[2015-08-17 15:44] jessegreenberg opened #16 "Sim does not handle i18n gracefully"
Noticed during #14.  There are a few internationalization issues, shown below.

For stringTest=double some panels start to overlap and go out of dev bounds.
![stringtest double](https://cloud.githubusercontent.com/assets/6396244/9308974/2b9622b8-44c4-11e5-803a-6c1a61164ce7.PNG)

for stringTest=someVeryLargeString... the panels can take up the whole screen.
![stringtest someverylargestring](https:/

[2015-08-17 15:50] jessegreenberg opened #17 "Sim is missing assets file"
Sim is missing the assets file for images used in the sim.  This is already documented as a TODO in #14 but documenting again here as a separate issue.

assets should be added once image and .ai files are received for replacement of dizzyMammoth.png.

[2015-08-17 15:56] jessegreenberg opened #18 "Sim is missing doc file"
Documented as a TODO #14, but creating separate issue as part of review.

This sim will need a doc file with model.md and implementation-notes.md.

hookes-law\doc\implementation-notes.md and hookes-law\doc\model.md are good examples for the markdown files.

[2015-08-17 16:19] jessegreenberg opened #19 "license.json missing projectURL value"
Found during #14.  license.json is missing value for projectURL which causes the build to fail.  The key value pair should be

```"projectURL": "http://phet.colorado.edu",```

It is also understood that dizzyMammoth.png is to be replaced with another image soon so all license entries will be changed shortly.

[2015-08-17 16:45] jessegreenberg opened #20 "Unnecessary common directory for model and view files"
Noticed during code review, #14.

It is unconventional for PhET model and view files to share a common directory.  The common directory usually holds elements for sims which are shared across multiple screens.

It looks like Util.js only has constants which are used in view files, so Util.js could be moved to trig-tour/view.

[2015-08-17 16:58] jessegreenberg opened #21 "Constants and colors in Util.js"
Related to code review #14 and somewhat related to #20.

It looks like TrigTourScreenView.js uses the default layout bounds, so can constant LAYOUT_BOUNDS be removed from Util.js?  If the constant can be removed, I would recommend renaming Util.js to something a little more descriptive like TrigTourColors.js.

For the colors, TAN_COLOR should be pulled from RED_COLORBLIND in PhetColorScheme.js and

[2015-08-17 17:06] jessegreenberg opened #22 "Code should be formatted with phet-idea-code-style.xml"
It looks like phet-idea-code-style.xml needs to be used in several sim files to format the code.

This code style xml can be found in phet-info\ide\idea.  You can use it as a code style scheme so that intelliJ automatically formats the code.  If you have any questions about using this or getting intelliJ to find the .xml file, please let me know.

[2015-08-17 17:21] jessegreenberg opened #23 "Unconventional 'end' documentation at end of code blocks"
I notice that the end of large code blocks, functions, and constructors are documented with comments such as

```//end positionLabels()``` or
```//end constructor```

This is done consistently throughout trig-tour code, but is an unconventional documentation pattern for other PhET sims.  Unless we think this pattern should be adopted for all other phet sims, these documentations should be removed.

[2015-08-17 17:27] jessegreenberg opened #24 "Some files are missing copyright annotation"
Found during code review, #14.  There are a few files in the view that are missing the copyright annotation.

From what I could find, ViewProperties, Unit Circle, TriangleNode, ReadoutNode, ReadoutDisplay, GraphView, FractionNode, ControlPanel, ArrowLine, Util.js need the copyright.

[2015-08-17 18:19] jessegreenberg opened #25 "Delete get functions in TrigTourModel and replace with public variables"
Variables fullTurnCount and halfTurnCount are both documented as ```@private```, but have get functions so that they are accessible in view elements.

As a possible clean up, I recommend deleting the functions getFullTurnCount and getHalfTurnCount in TrigTourModel and making this.fullTurnCount and this.halfTurnCount public variables.

[2015-08-17 18:51] jessegreenberg opened #26 "Possible unnecessary variable in TrigTourModel"
It is a little confusing to have two variables in TrigTourModel called fullTurnCount and nbrFullTurns. It is also better to avoid abbreviations such as nbr in variable names.

Can this.nbrFullTurns be removed from the constructor or are both variables necessary?

[2015-08-17 22:42] jessegreenberg opened #27 "Incorrect documentation formatting"
Found during code review, #14.

Documentation is great throughout the code, but there are a few cases where it is not formatted correctly.

There should be a new line between descriptions and annotations such as  ```@param``` and  ```@constructor``` for all documentation blocks in the code.  JavaScript object primitives  should also start with a lower case in JSDoc.  For example:
[code]

There sho

[2015-08-17 22:45] jessegreenberg commented on #27
I also think the 'No Parameter' annotation at the end of the model constructor should be removed.  This is not a common PhET convention and it seems clear enough that no parameters are being used.

[2015-08-17 22:52] jessegreenberg opened #28 "angle and singularity properties are not private"
Properties of TrigTourModel are documented as private, but it looks like they properties are being publicly accessed and linked in view elements.  They should be re-documented as @public variables.

[2015-08-17 23:04] jessegreenberg opened #29 "Duplicated specialAnglesMode variable"
There is a boolean property in ViewProperties called specialAnglesVisible and there is a public variable in TrigTourModel called specialAnglesMode.

Is there a reason to keep both of these variables?  It seems that specialAnglesMode can be deleted and the specialAnglesVisible can be passed directly into view elements.  This way the view does not have to track two variables for visibility.

[2015-08-17 23:15] jessegreenberg opened #30 "Unnecessary reset in ViewProperties"
In ViewProperties there is a defined reset function, but PropertySet already has a default reset function that sets all properties to their initial value.  So the reset function in ViewProperties is not really necessary.  There is no harm in having it there, and if you would like to keep it that is fine, but just to let you know!

[2015-08-18 02:25] pixelzoom opened #31 "bad license entry for dizzyMammoth.png"
dizzyMammoth.png has a license.json entry that does not conform to PhET's licensing policies.

[code]

[2015-08-20 02:26] jessegreenberg commented on #26
On further inspection, it looks like this.nbrFullTurns is needed in setAngle() to keep track of the current rotation number we are in from +/-Math.PI.

@dubson would you be OK renaming this.nbrFullTurns to this.currentRotationsFromPI or this.rotationNumberFromPI?

[2015-08-20 02:30] jessegreenberg commented on #31
This build error would be resolved by completing issue #19.

[2015-08-20 02:38] dubson commented on #15
Issue resolved.  No console statements on start-up. GraphView.trigFunction was improperly initialized.

[2015-08-20 02:38] #15 closed

[2015-08-20 02:44] dubson commented on #16
Hmmm.. seems to me that "stringTest = double" test is passed (though barely). Panels are still clearly visible and usable. Nothing is obscured.  Don't know how to improve this, except by writing code to change to smaller font when string is too long.  Don't know how to address the incredibly-long-string-test, seems to me to be  a Kabiyashi Maru test, and I don't recall that it was listed in the ph

[2015-08-20 02:50] dubson commented on #8
It was a bug!  Bug fixed.

[2015-08-20 02:50] #8 closed

[2015-08-20 03:05] dubson commented on #20
Agreed.  Util.js moved to view folder.

[2015-08-20 03:10] dubson commented on #23
I find this useful, so I can see what the block of code is about, without having to scroll to the top of the block to see what the function name is.

[2015-08-20 03:13] jessegreenberg commented on #16
My biggest concern with stringTest=double is that the control panel occludes the 'x' on the horizontal axis and it extends out of sim bounds (shown with the red bounding rectangle).  There is also no negative space between the unit circle and the control panel, which is bad for the sim "Feng Shui" :)

We started to test with strings larger than stringTest=double because we found that some translat

[2015-08-20 16:21] ariel-phet commented on #23
@dubson I understand you find this useful but since it does not follow normal conventions, please remove it. Perhaps discuss with the other developers how they deal with the issue you bring up.

[2015-08-22 16:13] jessegreenberg opened #32 "Util.toRadians and Util.toDegrees can be used for conversions"
The number 180 is used ~40 times in the sim for conversions between degrees and radians.  It would be good to replace these conversions with Util.toRadians() or Util.toDegrees().

This would significantly reduce the number of times ```angle * 180 / PI``` or ```angle * PI / 180 ``` needs to be called.  Using toRadians() and toDegrees() also makes it very clear what the conversion is doing, which wo

[2015-08-22 16:31] jessegreenberg opened #33 "Some confusing documentation in TrigTourModel"
Some of the documentation in TrigTourModel is a little confusing or contradictory.

In ```setFullAngleInRadians()```, documentation says

It looks like this function is setting the current full angle from a desired full angle, which is different from setting the full angle from the current full angle.

In ```setAngle()```, documentation says

But the first thing this function does is set the small

[2015-08-22 17:04] jessegreenberg opened #34 "Consolidate special angle arrays"
Arrays of special angles like ```[ 0, 30, 45, 60, 90, 120, 135, 150, 180, 210, 225, 240, 270, 300, 315, 330, 360 ]``` can be found in TrigTourModel, ReadoutNode, and UnitCircleView.

It would better if these arrays were held in a constants file called something like SpecialAngles and called on as necessary throughout the code.  The ```borders``` arrays should also exist in this file, or be generat

[2015-08-23 01:26] jessegreenberg opened #35 "ArrowLine should soon extend ArrowNode"
The great thing about ArrowLine is that the head can resize so that the it never covers the tail as the arrow shrinks in size. This is needed in a few sims now, so I think this would be a good feature to generalize and move to scenery-phet.

There is already an issue open about implementing this in scenery-phet:
https://github.com/phetsims/scenery-phet/issues/33

Once this is done, ArrowLine could

[2015-08-23 01:32] jessegreenberg opened #36 "Grabbable pointer can cause too many turns"
There is no limit check for the grabbable pointer on the GraphView, so when the pointer is dragged out of bounds, the number of rotations can continue to grow:

![toomanyturnsimdizzy](https://cloud.githubusercontent.com/assets/6396244/9426502/31745f8a-4904-11e5-8c97-9a352a87f5af.PNG)

[2015-08-23 01:44] jessegreenberg opened #37 "Use 'this' or 'self' for variables that extend scope"
As a style choice, I would recommend adding 'this' somewhere in the variable name for variables that extend the scope of ```this```.  For example, instead of
[code]
I think it is more clear to use
```var thisArrowLine = this;``` or ```var thisNode = this;```

This makes it very clear ```thisArrowLine``` refers to ```this``` for nested callbacks and avoids confusion when referring back to self.

Ag

[2015-08-23 02:05] jessegreenberg opened #38 "Incorrect naming pattern for strings"
In general, I notice the following naming pattern for strings in trig-tour:
[code]
but the PhET convention for naming strings is to avoid the abbreviation and to append the full 'String' to the end of the name.  Would you please append 'String' to the end of string names like
[code]

[2015-08-23 02:12] jessegreenberg opened #39 "Text nodes in ControlPanel should not be global"
The text nodes in the control panel are global, but they are only used once each in the constructor, so making them global is excessive.

Please move the text nodes into the constructor.

[2015-08-23 02:22] jessegreenberg opened #40 "Unconventional comment pattern for constructors"
There are a few cases where a comment about constructor parameters is placed at the side of the constructor.  For example, in FractionNode the constructor looks like:

[code]

This documentation should be in the JSDoc of the constructor like:
[code]
For these cases, please move the documentation at the side of the constructors to the JSDoc.

[2015-08-23 02:36] jessegreenberg opened #41 "Incorrect use of scope extension in FractionNode"
In FractionNode there is an incorrect use of scope extension:

[code]
The scope of ```this``` was never extended to the parent scope so ```this.fractionNode``` is undefined in callbacks.

To extend the scope, we must declare
[code]
in the parent scope.

However, the scope of ```this``` does not need to be extended in FractionNode.   Please replace uses of ```this.fractionNode``` with ```this```.

[2015-08-23 02:39] jessegreenberg commented on #41
Same for TriangleNode and ViewProperties, would you please fix the pattern in those files as well?

[2015-08-23 02:48] jessegreenberg opened #42 "Consider renaming angleProperty to fullAngleProperty"
Any function that changes the angleProperty in TrigTourModel is documented with something like 'sets the full angle'.  This is a great way to place distinction between the the total angle and the small angle.

In order to clarify this distinction in the code, @dubson would mind if we renamed angleProperty to fullAngleProperty?

This would make the code match the documentation as well.

[2015-08-23 02:53] jessegreenberg commented on #29
I think the same is true for this.labelsVisible in GraphView, which also exists in ViewProperties.  Can this public variable be deleted?

[2015-08-23 03:01] jessegreenberg opened #43 "Confusing double negative in FractionNode"
In funciton setFraction, the variable
[code]
produces some confusing conditionals with double negatives like
[code]
Would you mind if we changed the variable to ```denominatorNeeded```?  The conditionals would be a bit easier to understand and it would match the pattern of other booleans in the function.
[code]

[2015-08-23 03:03] jessegreenberg commented on #35
Assigning to myself because I will take a stab at implementing this in scenery-phet/ArrowShape soon.

[2015-08-23 23:14] jessegreenberg opened #44 "Common colors should be called from Util"
There are common hex and string colors used in view files are already defined in Util, but are not being called from that file. The string and hex value colors are occasionally redefined in some view files. These common colors should be pulled from Util (or TrigTourColors depending on the status of #21 ).

For example, in FractionNode, hex ```'#000'``` is defined for each path throughout the code

[2015-08-23 23:19] jessegreenberg opened #45 "Equals sign broken in Internet Explorer"
Equals sign next to 'angle ' on ReadoutNode is broken for Internet Explorer. The sign covers up the angle readout value on sim start up:

![angleerror in exploder](https://cloud.githubusercontent.com/assets/6396244/9430643/c7bde108-49ba-11e5-84d6-36a21ea9e548.PNG)

However, when you mouse over any interactive element on the screen, the sign corrects itself.  This behavior suggests that this issue

[2015-08-23 23:42] jessegreenberg opened #46 "Ordered strings should use StringUtils to support i18n"
Part of the internationalization process is allowing for strings to be reordered for languages that do not read from left to right.  StringUtils provides a method for translators to reorder a string if right to left order is desirable.  There are strings in trig-tour that would benefit from this.

For example, whenever units are used, StringUtils should be used.  I also wonder if trig strings like

[2015-08-23 23:55] jessegreenberg commented on #46
The string ```var xyEqualsStr = '(x,y) = ';``` in ReadoutNode should also use a string pattern.

'x' and 'y' are intentionally left untranslatable in this sim, Is this intentional?  I am surprised that we do not allow translators to change the symbols for for 'x' and 'y' along the axes.

[2015-08-25 17:11] pixelzoom commented on #31
This is still an issue as of 8/25/15, testing with test-server.

[2015-08-25 18:29] pixelzoom commented on #31
license.json entry:

[code]

"stolen from the Web"? If it's check into GitHub (publicly visible) then it's a copyright violation.

[2015-08-25 21:29] jessegreenberg commented on #45
This was resolved with the fix of phetsims/scenery#455.  Closing.

[2015-08-25 21:29] #45 closed

[2015-08-25 22:38] jessegreenberg commented on #35
A resizable arrow head feature has been added to ArrowShape with phetsims/scenery-phet#33.   ArrowLine can now extend ArrowNode, and the head can be resized with ArrowNode options ```isHeadDynamic``` and ```fractionalHeadHeight```.  This will simplify ArrowLine code for the reasons listed above.

@dubson, please let me know if you have any questions about using the new resizable head feature in Ar

[2015-08-25 22:42] jessegreenberg commented on #35
Once this is implemented, ArrowLine should not need to use lines.  @dubson, would you be OK renaming this to something like TrigIndicatorArrowNode or AngleArrowNode?

[2015-08-26 01:17] jessegreenberg opened #47 "Hard coded strings should be consolidated and documented"
Somewhat related to #46, there are some strings that are hard coded and do not support translations.  These are mostly symbols and numbers.  According to #14, these are left out of translatable strings by design.

These strings are also repeated a few places in code, and should be moved to a file called something like TrigTourMathStrings.  This way repeated strings can be consolidated and document

[2015-08-31 20:16] jessegreenberg opened #48 "GraphView is a very large file and should be modularized"
GraphView is a vary large file with more than 500 lines of code and it contains many nodes and listeners. I think this file would be more maintainable if it were broken down into smaller constituent files.  There are a few children in GraphView that are large enough to warrant their own files in the view.

For instance, I think with would be beneficial for the sinusoidal shapes to be in their own

[2015-08-31 20:25] jessegreenberg opened #49 "Empty strings should not be used as layout devices"
There are a few cases where text nodes with empty strings are used as devices for layout.   These should be replaced with V/HSeparators.  This way, we don't need to use empty spaces to format the view.

In ReadouDisplay, an empty string is used to separate the title from the accordion button.  I would recommend replacing this empty string with the optional parameter ```titleXSpacing``` of Accordio

[2015-08-31 20:30] jessegreenberg opened #50 "A few commented lines of code need to be removed"
There are a few lines of commented code in trig-tour that should be removed.  These include modules that have been commented out, a couple of old lines of code that have been removed but not deleted, and some personal documentation such as ```//Bounds2( minX, minY, maxX, maxY )```.

Please remove these commented lines.  If there are any lines of commented code that should remain, please add docume

[2015-08-31 20:31] jessegreenberg commented on #50
There is also a commented console statement in GraphView.
[code]
@dubson, can this also be removed from the file?

[2015-08-31 20:37] jessegreenberg opened #51 "Rename variables with non-standard abbreviations"
There are several variables in trig-tour that use non standard abbreviations.  These can make it difficult to understand the a function or line of code.  As described in the PhET Developer Overview, https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit#bookmark=id.ltflelig4smk
variables should avoid non standard abbreviations to improve readability.

For instance, va

[2015-08-31 20:39] jessegreenberg opened #52 "Remove unused public function in GraphView constructor"
In GraphView, the following function is made public in the constructor:
[code]
But I do not see it used anywhere, privately or publicly.  @dubson, would it be safe to remove this function completely?

[2015-08-31 20:43] jessegreenberg commented on #29
Is this also true for ```radiansDisplayed``` and ```specialAnglesOnly``` in ReadoutNode?  It looks like these variables are handled by ```angleUnitsProperty``` and ```specialAnglesVisible``` in ViewProperties.

[2015-08-31 20:47] jessegreenberg commented on #22
Related to formatting, I notice that line 122 of ReadoutNode has two statements on the same line.   Please add a new line between these two statements.

[code]

[2015-08-31 21:00] jessegreenberg commented on #46
The following pattern is also used many times throughout the code:
[code]
By isolating a string pattern with StringUtils, the number of  ```sinStr + '<i>' + theta + '</i>' + equalStr``` declarations can be reduced.

Here is another example of using StringUtils for reference:
https://github.com/phetsims/molecules-and-light/issues/75

[2015-08-31 21:06] jessegreenberg commented on #34
Similarly, could the angle arrays in ReadoutNode be isolated to their own files?
[code]
The angle array structures are large enough to warrant their own file in the model.  This way they can be clearly isolated and documented for maintainability.  Moving these structures will also benefit ReadoutNode with a lower line count.

[2015-08-31 21:38] jessegreenberg opened #53 "Remove workaround in ReadoutNode"
In ReadoutNode, there is a workaround in place to prevent layout from wandering:
[code]

When I comment this line out, I observe no change in sim behavior.  @dubson, can this line be removed now?

[2015-08-31 21:44] jessegreenberg commented on #27
As a related comment, there are occasionally too many empty lines between blocks of code.  For example, in   UnitCircleView lines 41 to 56 look like:
[code]
Correct documentation spacing in formatting should be something like:
[code]

[2015-08-31 21:54] jessegreenberg commented on #21
UnitCircleView would also benefit from renaming to TrigTourColorScheme because Util would not have to be renamed to UtilTrig.
```var UtilTrig = require( 'TRIG_TOUR/trig-tour/view/Util' );```

It is a little confusing when the var name does not match the module name.  To me, UtilTrig means a file that holds utility trig functions.  TrigTourColors would more accurately describe the file

```var Trig

[2015-08-31 21:59] jessegreenberg opened #54 "Unnecessary model variable in UnitCircleView"
The top of the constructor for UnitCircleView looks like
[code]
Would it be safe to delete ```var trigLabModel = model``` and replace references of ```trigLabModel``` with ```model```?  ```model``` is already available throughout the scope of the constructor, and it a little confusing for UnitCircleView to have both private and public variables for ```model```

[2015-08-31 22:08] jessegreenberg opened #55 "Incorrect pattern for public function in UnitCircleView"
The function ```setLabelVisibility()``` is made public in the constructor of UnitCircleView and is called in other view files.

[code]
Is there a reason for this function being added publicly in the constructor?  The function would adhere to PhET patterns by being added through inheritance.

[2015-08-31 22:14] jessegreenberg commented on #55
Upon further inspection, I can see that keeping ```this.setLabelVisibility()``` in the constructor allows the function ```positionLabels``` to also be privately handled in the constructor.

I can now understand If you would like to keep ```setLabelsVisibility()``` in the constructor for this reason but documentation should be added to describe why the function is not in the inheritance block.  Oth

[2015-08-31 22:37] jessegreenberg opened #56 "Complete sim credits in main"
There is a TODO in trig-tour-main.js for sim credits.
[code]
Once the sim credits are completed, this TODO reminder can be deleted.

[2015-08-31 22:53] jessegreenberg opened #57 "Background for dizzyPhetGirl should be transparent"
The new PhET girl image looks great!  However, I notice that the image background is not transparent so it looks a little strange when it pops up.  It blocks much of the simulation and makes PhET girl look off center.  I am wondering if the dizzyPhetGirl image background should be transparent?

This is unrelated to code review, and is more of a design question.  If the look is as it is intended, f

[2015-08-31 23:04] amanda-phet commented on #57
It is supposed to be transparent, and I gave @dubson the correct .png. Perhaps he hasn't updated it?

[2015-08-31 23:04] amanda-phet commented on #57
It looks like the images folder has a .jpeg and a .png. The .jpeg should be deleted so that it is never used, and the .png should be used.

[2015-08-31 23:04] jessegreenberg commented on #14
@dubson, I consider the code review to be complete.  Overall the code looks very nice, great job on this sim!

Please let me know if you have any questions about issues opened during this code review.

[2015-08-31 23:11] jessegreenberg opened #58 "Equals sign bleeds into 'angle' on ReadoutNode"
Noticed while testing sim performance on iPad2.  The equals sign bleeds into the 'angle' text on iPad2, Safari iOS 8.2.

![img_0040](https://cloud.githubusercontent.com/assets/6396244/9592743/289a7182-5003-11e5-9830-f4db41f2b154.PNG)

[2015-09-23 17:53] jessegreenberg commented on #57
.jpeg has been deleted for the dizzyPhetGirl, and the .png is being used.  Image background is now transparent.  There is another issue open for adding the image asset, so this can be closed.

[2015-09-23 17:53] #57 closed

[2015-09-23 17:56] jessegreenberg commented on #31
license.json has been updated with the correct entry and image.  Copyright violation removed as dizzyMammoth is not being used in the sim.

trig-tour builds cleanly and passes licensing tests.  Closing.

[2015-09-23 17:56] #31 closed

[2015-09-23 17:57] jessegreenberg commented on #19
license.json entry has been fixed so that the sim builds cleanly, passing licensing tests.  Closing.

[2015-09-23 17:57] #19 closed

[2015-09-23 18:03] jessegreenberg commented on #30
I went ahead and deleted the reset function in ViewProperties since it is already defined in PropertySet.  Closing.

[2015-09-23 18:03] #30 closed

[2015-09-23 18:08] jessegreenberg commented on #28
These visibility annotations have been fixed.  Closing.

[2015-09-23 18:08] #28 closed

[2015-09-23 18:12] jessegreenberg commented on #24
I have added the copyright to all files that were missing it in trig-tour.  Closing.

[2015-09-23 18:12] #24 closed

[2015-09-23 18:17] jessegreenberg commented on #23
I have deleted the 'end' documentation at the end of some code blocks.  Closing.

[2015-09-23 18:17] #23 closed

[2015-09-23 18:20] jessegreenberg commented on #20
Closing since this was completed.

[2015-09-23 18:20] #20 closed

[2015-09-23 18:37] jessegreenberg commented on #21
@amanda-phet, are you familiar with the color-blind green that is being used to represent sin?  Was this color tested for visibility in color-blind tests?

If it was tested, I think this color should be added to the PhET color scheme.  If not, some documentation needs to be changed.

[2015-09-23 18:53] amanda-phet commented on #21
We chose the green while doing color-blind tests, so it does behave well with the red. I'm not sure if the red is exactly color-blind-red. Did you verify the hex code or RGB components? If it is, then feel free to add the green as a good green to go with it!

[2015-09-23 19:35] jessegreenberg commented on #26
I renamed the private variable to this.rotationNumberFromPi to avoid confusion with the variable this.fullTurnCount.  Closing.

[2015-09-23 19:35] #26 closed

[2015-09-23 19:50] jessegreenberg commented on #17
Created an assets directory for trig-tour and added the associated asset for the image being used in this sim.  Closing.

[2015-09-23 19:50] #17 closed

[2015-09-23 19:57] jessegreenberg commented on #22
Reformatted with the phet-idea-code-style.xml in commit f9ad4ef632f35d3411b50a6cd847710e9b32f443.  The line above is also formatted correctly.  Closing.

[2015-09-23 19:57] #22 closed

[2015-09-23 20:14] jessegreenberg commented on #29
trigTourModel.specialAnglesMode deleted in commit 30c233baff5d8d9241ee8c2228274bd44132ef97 and replaced with the visibility property in ViewProperties.

[2015-09-23 21:42] jessegreenberg commented on #29
```radiansDisplayed``` and ```specialAnglesOnly``` were deleted and replaced with references to ViewProperties in commit 87ef161de6b1daa485f5d3360e40a78b9e3754bc. Thats all the cases of repeated variables and ViewProperties.  Closing.

[2015-09-23 21:42] #29 closed

[2015-09-23 23:00] jessegreenberg commented on #25
```fullTurnCount``` and ```halfTurnCount``` are public and get functions and their references have been deleted.  Closing.

[2015-09-23 23:00] #25 closed

[2015-09-23 23:41] jessegreenberg commented on #55
Seems cleanest to me to keep this.setLabelVisibility() public in the constructor so that positionLabels can remain private as well.  I added a line of documentation explaining for future maintainers.  Closing.

[2015-09-23 23:41] #55 closed

[2015-09-23 23:50] jessegreenberg commented on #53
@dubson I have removed this line since it no longer seems to change sim behavior. If we observe 'wandering' behavior of the ReadoutNode layout boxes, we can come back to this. Closing.

[2015-09-23 23:50] #53 closed

[2015-09-24 00:03] jessegreenberg commented on #54
It looks like ```this.model``` is not needed in extended scope in UnitCircleView, so I deleted both ```this.model``` and ```var TrigLabModel``` and renamed ```model``` of the constructor parameter to ```trigTourModel``` for clarification.  Closing.

[2015-09-24 00:03] #54 closed

[2015-09-24 00:05] jessegreenberg commented on #52
I deleted this function as part of resolving #29.  Closing.

[2015-09-24 00:05] #52 closed

[2015-09-24 20:23] jessegreenberg commented on #21
I verified that the red in trig-tour has the exact RGB components of RED_COLORBLIND in PhetColorSCheme.

I added the green-colorblind to PhetColorScheme for future use since it pairs well with red-colorblind.  That completes this issue, closing.

[2015-09-24 20:23] #21 closed

[2015-09-24 20:31] jessegreenberg commented on #44
Common colors are now referenced from TrigTourColors.  Closing.

[2015-09-24 20:31] #44 closed

[2015-09-24 22:49] jessegreenberg commented on #42
I made the refactor.  ```angleProperty``` is now named ```fullAngleProperty```.  As part of this change I renamed the ```getAngle``` functions to ```getFullAngle```.  I think this helps establish the distinction between ```fullAngle``` and ```smallAngle``` and the property matches the documentation well. Closing.

[2015-09-24 22:49] #42 closed

[2015-09-24 23:11] jessegreenberg commented on #43
noDenominator has been renamed to denominatorNeeded so that the variable matches boolean variable patterns in the file and avoids double negatives in conditionals.  Closing.

[2015-09-24 23:11] #43 closed

[2015-09-24 23:19] jessegreenberg commented on #50
Commit bd48657150565c94dbffc4bf2fe90d836bc15af1 was related to this.

[2015-09-24 23:34] jessegreenberg commented on #50
I removed some personal documentation that served to remind of scenery-phet constructor params.  I figured this was safe and best as the sim moves into production.  Old console statements for testing have been deleted.  Modules that were commented out have also been removed.  Closing.

[2015-09-24 23:34] #50 closed

[2015-09-25 00:23] jessegreenberg commented on #33
```setAngle``` was renamed to ```setFullAngle``` as part of #22.  I changed the documentation for ```setFullAngle``` and ```setFullAngleInRadians``` to convey that these functions set the full angle for the model as well as the associated small angle and turn counts from new angles.

@dubson, if you feel like the new documentation is insufficient or incorrect, please let me know. Closing.

[2015-09-25 00:23] #33 closed

[2015-09-25 00:36] jessegreenberg commented on #41
Cases of incorrect scope extension above have been resolved in commits above.  Closing.

[2015-09-25 00:36] #41 closed

[2015-09-25 20:14] jessegreenberg opened #59 "Changing trig function near the singularity can lead to small arrow tail width"
Found while implementing #35.  The tailWidth can stay too small when transitioning from tan to another trig function around the singularity.

![linewidth](https://cloud.githubusercontent.com/assets/6396244/10111214/b00ec9d4-638f-11e5-8af9-4692eb888a67.PNG)

[2015-09-25 21:01] jessegreenberg commented on #35
As mentioned above, I renamed ArrowLine to TrigIndicatorArrowNode.  TrigIndicatorArrowNode now extends ArrowNode.

In order to make sure that this did not break anything, I tested with an extended fuzz test.  I also verified that the arrows are identical to dev.17 after the refactor.

That is it for this issue, closing.

[2015-09-25 21:01] #35 closed

[2015-09-25 23:58] jessegreenberg commented on #51
Commit 1ef933732bd246207195630c14f6a9ae4116cbf8 is related to this issue.

[2015-09-26 00:02] jessegreenberg commented on #51
Immediately after the commit above I realized that tOrF is an abbreviation for 'true Or False'.  Now I get it! But I still think it is better to use the property name as the parameter of the callback since tOrF is not a standard abbreviation for most developers.

The commit above renamed non-standard abbreviations.  Closing.

[2015-09-26 00:02] #51 closed

[2015-09-26 00:27] jessegreenberg commented on #59
Fixed in commit above.  trigIndicatorArrow tail width is now correctly set with the graphProperty.

When switching from tan 'singularity' to sin immediately :
![linewidthfix1](https://cloud.githubusercontent.com/assets/6396244/10114714/f9afbbfc-63b2-11e5-947a-9974982647ad.PNG)

And back to tan immediately:
![linewidthfix2](https://cloud.githubusercontent.com/assets/6396244/10114717/005df05e-63b3-1

[2015-09-26 00:27] #59 closed

[2015-09-26 00:31] jessegreenberg commented on #40
This was resolved with the commit that completed issue #27.  Closing.

[2015-09-26 00:31] #40 closed

[2015-09-26 00:59] jessegreenberg commented on #32
```angle * 180 / PI``` and ```angle * PI/ 180``` replaced with calls to ```dot.Util.toDegrees()``` and ```dot.Util.toRadians()```.  Closing.

[2015-09-26 00:59] #32 closed

[2015-09-26 21:51] jessegreenberg commented on #36
Fixed in the commit above.

![offscreen](https://cloud.githubusercontent.com/assets/6396244/10120008/bd9e008e-6465-11e5-870d-49dc5b9ad283.PNG)

However, since 2.25 is the max number of rotations, the user can still pull the indicator arrow off of the panel before the dizzy PhET girl pops up (shown above).  If the max number of rotations is 2.125, the indicator arrow will always remain visible on t

[2015-09-28 15:19] amanda-phet commented on #36
The max number of rotations is actually much larger. The user should be able to rotate the red point around the circle until the rotations reaches the border of the circle panel. I believe it is around 2 right now so that we can see the dizzyphetgirl image, but that maximum should be changed to be much larger.

The red point on the graph becomes invisible/unusable after a little over 2 rotations,

[2015-09-28 15:44] jessegreenberg commented on #36
I see, thanks, I didn't realize that was the design.  It was very explicit in the code that the user should not be able to increase the number of rotations past 2.25 turns.

It takes about 50 turns to get the the edge of the unit circle panel.
![spheftyturns](https://cloud.githubusercontent.com/assets/6396244/10140528/3a272c60-65c5-11e5-80bb-dbcf82eb1f13.PNG)

[2015-09-28 18:05] jessegreenberg opened #60 "Change special angle arrays to object literal"
Issue related to #34.  The special angle arrays are created in ReadoutNode and encode the information needed by FractionNode to build the nodes representing the fractional form of special angles evaluated by each trig function.  For instance:

[code]
is the structure for special angles of sin.

Rather than using string flags like '-' and 'q', I think it would be much more maintainable to restructu

[2015-09-28 18:24] jessegreenberg commented on #34
I have isolated the special angles and the angle arrays in ReadoutNode to SpecialAngles file.  Closing.

[2015-09-28 18:24] #34 closed

[2015-09-28 18:26] jessegreenberg commented on #60
I did this in the commit above.  This was a pretty aggressive refactor so I triple checked behavior against dev.17.  All is well and I think this is a more maintainable solution. Closing.

[2015-09-28 18:26] #60 closed

[2015-09-28 19:35] jessegreenberg commented on #36
Commit above extends the maximum angle to allow 25.25 rotations on the unit circle so that the dizzy PhET girl pops up at the point above. The spiral reaches the edge of the unit circle panel. Closing.

[2015-09-28 19:35] #36 closed

[2015-09-28 20:13] jessegreenberg commented on #47
Math-y strings that are not meant to be translated are isolated and documented in TrigTourMathStrings.  Closing.

[2015-09-28 20:13] #47 closed

[2015-09-29 21:19] jessegreenberg commented on #48
In commit above, I pulled the axes and labels into their own file and re-linked with view properties accordingly.  This reduced the files size of GraphView by ~130 lines.

Up next is to pull graph curve paths out of GraphView.

[2015-10-01 14:54] jessegreenberg commented on #49
The commit above replaces text with empty space strings with separators for layout.  Closing.

[2015-10-01 14:54] #49 closed

[2015-10-01 14:57] jessegreenberg commented on #48
Completed in the commit above.  GraphView is a more manageable size and much of the drawing code is isolated into separate files TrigTourGraphAxesNode and TrigPlotsNode.  Closing.

[2015-10-01 14:57] #48 closed

[2015-10-01 14:58] jessegreenberg commented on #38
Completed in the commit above, closing.

[2015-10-01 14:58] #38 closed

[2015-10-01 14:58] jessegreenberg commented on #39
This was fixed through #38, closing.

[2015-10-01 14:58] #39 closed

[2015-10-01 15:05] jessegreenberg commented on #37
Done in the commit above, 'this' added to variable name so that it is explicit that the variable refers back to self.  Closing.

[2015-10-01 15:05] #37 closed

[2015-10-01 15:07] jessegreenberg commented on #27
Done in the commits above.  Other commits related to code review added a bit of documentation as code was refactored and JSDoc was added throughout.  Closing.

[2015-10-01 15:07] #27 closed

[2015-10-08 03:08] jessegreenberg commented on #16
Right you are, especially for string patterns with units or functional forms.  The recent consensus is that we make sure that ```stringTest=double``` passes cleanly and only use ```stringTest=someCrazyLongStringThatWouldLikelyBreakSomething``` as a a diagnostic tool for isolating problematic strings.

This sim no longer has any issues with ```stringTest=double```:

![string_test_double-fixed](http

[2015-10-08 03:15] jessegreenberg commented on #16
I just noticed that the exception is ```theta``` along the x axis of the graph.
![theta_cut_off](https://cloud.githubusercontent.com/assets/6396244/10356761/be6f8886-6d37-11e5-8671-e272b7554d88.PNG)

If ```theta``` is any longer than one character, it will get cut off at the end of the panel.

One way to 'fix' this is to remove ```theta``` from the translatable strings.  The only reason I suggest

[2015-10-08 16:46] amanda-phet commented on #16
I don't know why theta is translatable. Perhaps other locales don't use that greek letter for angles? @dubson should comment.

[2015-10-08 17:32] jessegreenberg commented on #16
Sounds good, thanks.  Will check in with him, reassigning to me.

[2015-10-08 19:01] jessegreenberg commented on #16
That seems likely, but for that reason ```x``` and ```y``` should be translatable as well.

[2015-10-08 19:21] amanda-phet commented on #16
My intuition is that we should not make theta translatable. I tried to look it up and it seems like a variety of greek characters are appropriate for naming an angle, so no one should be confused by it.

Also, I agree with you that the variables should all be consistently translatable.

[2015-10-08 20:26] ariel-phet commented on #16
@amanda-phet I disagree. We should allow theta to be translatable, it does no harm to allow translators that freedom does it?

[2015-10-08 20:57] amanda-phet commented on #16
I think the reason this issue was created because the "harm" could be if it is replaced with something longer than one character. Also, if we do allow theta to be translatable, shouldn't x and y also be?

[2015-10-08 21:06] jessegreenberg commented on #16
Exactly, current position of x axis label on the graph does not allow for labels longer than one character.  The x axis label could be re-positioned or the graph layout could change to support longer strings.

That is my thought as well.  When I initially discussed this with @dubson, I was told that those labels were specifically left out of translatable strings, but I cannot remember why.  Tried

[2015-10-08 21:09] ariel-phet commented on #16
We give translators the freedom to do whatever they wish in general, we tend to leave it up to them to make these sort of judgement calls. And yes, x and y should be translatable IMO

[2015-10-08 21:09] ariel-phet commented on #16
Usually the only things we don't allow to be translated are more on the legal side, such as our names in the credits or our copyright statement or such.

[2015-10-09 00:43] jessegreenberg commented on #16
```X```, ```Y```, and ```THETA``` are now all translatable strings.

The current placement of theta on the graph does not leave much room for translation:
![translatable_theta](https://cloud.githubusercontent.com/assets/6396244/10383337/df409d1c-6dea-11e5-8186-5ffc1003e1f7.PNG)

After three characters, theta is already too small:
![small_theta_translation](https://cloud.githubusercontent.com/asset

[2015-10-14 16:15] jessegreenberg commented on #56
@amanda-phet, could you please verify that these credits are correct?

![trig-tour-credits](https://cloud.githubusercontent.com/assets/6396244/10490079/68775218-725c-11e5-8dd0-3d5f63ffd8ab.PNG)

[2015-10-14 17:12] jessegreenberg commented on #18
Documentation files have been added.  Notifying @dubson in case he would like to review or change any of this content.  Closing the issue.

[2015-10-14 17:12] #18 closed

[2015-10-14 17:57] jessegreenberg commented on #46
Forgot to tag issue in commit.  Commit 343d2280fac17f283c9654868cee1dda5c2f9a8f wraps this up.  Closing.

[2015-10-14 17:57] #46 closed

[2015-10-14 18:00] jessegreenberg commented on #16
x-axis ```THETA``` in comment above is last of i18n issues.  This can be closed once that is resolved.

[2015-10-14 18:01] ariel-phet commented on #56
@jessegreenberg, you should put Michael Dubson first on lead design (alphabetically)

[2015-10-14 18:02] jessegreenberg commented on #58
Was hoping that #46 would resolve this, but no luck.  The issue occurs intermittently for ipad2 iOS 8.2.  I will see if I can reproduce in safari on other platforms.

[2015-10-14 18:03] ariel-phet commented on #56
Other than that, credits are correct

[2015-10-14 18:05] jessegreenberg commented on #56
Done in commit above.  Great, closing the issue then.

[2015-10-14 18:05] #56 closed

[2015-10-14 18:10] jessegreenberg commented on #7
This issue can be closed, the sim builds cleanly.

[2015-10-14 18:10] #7 closed

[2015-10-14 18:17] jessegreenberg commented on #9
The number of rotations was limited to +/- 25.25 so that the spiral indicator is limited to the unit circle panel.  This behavior was discussed with @amanda-phet and @dubson as part of issue #36.
![spiral_limit](https://cloud.githubusercontent.com/assets/6396244/10493282/81690b16-726d-11e5-9b38-da9286911e84.PNG)

Closing.

[2015-10-14 18:17] #9 closed

[2015-10-14 18:35] jessegreenberg commented on #11
The asymptote is draggable.  The arrow indicator also extends ArrowNode so its whole shape is also draggable.  Closing/

[2015-10-14 18:35] #11 closed

[2015-10-15 00:06] jessegreenberg commented on #58
Reproduced this issue with Curie, so this looks like a Safari issue.  Fixed in the commit above, '=' and 'angle' are separated in their own text nodes .

I believe that this has something to do with concatenating translatable strings in the .json file.  Using hard coded strings ```'angle' + '='``` and ```'angle = '``` also solved the problem.  But concatenating strings out of the tirg-tour-strings

[2015-10-15 00:06] #58 closed

[2015-10-15 00:49] jessegreenberg commented on #14
The following are the last two issues related to code review:
 - [ ] #16 (i18n, pending review)
 - [ ] screenshot for deployment

All other issues have been resolved.

[2015-10-21 16:06] amanda-phet commented on #16
I apologize I didn't realize that you were waiting on me to close this. Theta should not be above the axis as you suggested; it needs to be to the right of the arrow. If someone translates it with a longer string then they will just have a small label. I think it is highly unlikely and the placement is actually fairly important.

[2015-10-21 17:12] elisemorgan opened #61 "Sim gets stuck on maximum rotations"
device: Tycho iPad 2

Operating System: iOS 9.0

Browser: Safari

Problem description: If you bring to the sim to maximum rotations (I did this by dragging around the unit circle) the dizzy girl appears and then you can't go backwards. The girl stays on the screen and the point will only move about halfway around the circle before it stops.

Steps to reproduce: drag around unit circle until max ro

[2015-10-21 17:13] elisemorgan commented on #61
This behavior was not observed in Windows or Mac

[2015-10-27 23:24] jessegreenberg commented on #61
I am unable to reproduce this issue on iPad2 iOS 8.2, regardless of the rotation speed.  I will see if I can verify the issue on the Tycho iPad2 device.

[2015-10-27 23:41] jessegreenberg commented on #16
Sounds good @amanda-phet. Theta label is centered with x-axis again and maxWidth is reduced accordingly.  Closing.

[2015-10-27 23:41] #16 closed

[2015-10-28 20:46] jessegreenberg opened #62 "Drawing the spiral shape performs poorly on iPad2"
While playing with the spiral to reproduce issue #61, I became concerned about the performance of the spiral on iPad2.  After ~5 rotations, the drag behavior bogs down as the number of line segments in the shape grows.

As the spiral shape changes, it is unfortunate to redraw the whole thing.  The shape itself only changes by a single line segment every time the angle changes. For spiral consistin

[2015-11-03 02:30] jessegreenberg commented on #62
Commit 5ee1bb9de88055dc3dc45194319dbbf371a96c5b was an attempt at solution 1 above.  Performance is better, but not as improved as I was hoping.

Using ?profiler, FPS for dev.18 (before commit above) is about 7 for larger model angles.

FPS after applying option 1 is up to 14 fps at the extreme angles for iPad2.

[2015-11-03 02:34] jessegreenberg commented on #62
No noticeable performance improvements on Windows 7 Chrome 46.

[2015-11-03 02:49] jessegreenberg commented on #62
Commit above tried to override bounds computations for arrow nodes, no noticeable performance increase on iPad2.

[2015-11-03 02:50] jessegreenberg commented on #62
Removing updates to the clipping shape shows no further performance improvement.  This makes me think that further pursuits to enhancing performance should be in elements that are not related to the spiral such as the ReadoutNode or the GraphView.

[2015-11-10 15:56] ariel-phet commented on #13
This seems well established now. Closing

[2015-11-10 15:56] #13 closed

[2015-11-10 15:57] ariel-phet commented on #12
@pixelzoom any further action required here, or can this be closed now?

[2015-11-10 16:31] #12 closed

[2015-11-13 20:05] jessegreenberg opened #63 "Testing FormulaNode in trig-tour"
As part of https://github.com/phetsims/scenery/issues/457, I am going to test FormulaNode by using it to display the equations in trig tour.

My plan is to recreate the equations so they look exactly the same as before.  However, since I am revisiting them, now would be a good time to change the equation style if desired.

@amanda-phet, do you have any changes in mind for the look and feel of the

[2015-11-13 21:31] amanda-phet commented on #63
I would keep the sizes and layout the same, but I also expect things like the square root and π to change in appearance (in a good way). If you come across something specific let me know!

[2015-11-17 17:43] jessegreenberg commented on #63
In phetsims/tasks#425, @amanda-phet said

The issue was closed, but what is the status of this?  Do the square roots look poor enough to stop implementing/testing in trig-tour?

[2015-11-17 17:44] jessegreenberg commented on #63
Assigned to @amanda-phet but @ariel-phet may want to determine if testing and review of FormulaNode should continue as well.

[2015-11-17 17:54] ariel-phet commented on #63
@jessegreenberg probably worth continuing to review FormulaNode, but given the issues with the square root probably not worth implementing in trig-tour

[2015-11-17 18:12] jessegreenberg commented on #63
OK, sounds good.  I will back out of changes in trig-tour but continue to review FormulaNode.  Closing this issue and picking back up in https://github.com/phetsims/scenery/issues/457.

[2015-11-17 18:12] #63 closed

[2015-11-23 19:07] jessegreenberg commented on #61
The clipping shape of the SpiralNode is not being updated until theta is dragged below the max angle for the sim, so it feels like the sim is getting stuck.  Theta should not be allowed to grow beyond the max angle, but the shape should still be updated if dragged such that it decreases the absolute value of theta.  Will commit a fix for this soon.

[2015-11-23 19:18] jessegreenberg commented on #62
First commit above replaces the uses of SubSupTtext with the Unicode symbol for units in degrees to avoid recreating Text nodes.
Second commit removes a function closure that was being called with Underscore in addSegment to diminish the burden on garbage collection.

The fps on iPad2 is around 12-16 with the above changes.  Next steps will be to remove various panels of the screenView to isolate

[2015-11-23 19:23] jessegreenberg opened #64 "'Angle' of ReadoutNode should use a string pattern for i18n"
While investigating #62, @jonathanolson pointed out that the angle value of ReadoutNode still does not support RTL units for i18n and should use a string pattern.

[2015-11-23 23:18] jessegreenberg commented on #62
Removing various sections results in the following frame rates:

* Removing the GraphView entirely: 8-14 fps (11 average)
* Removing the ReadoutDisplay: 11-16 fps (11 average)
* Unlink spiral shape from model properties: 6-10 fps
* Removing TrigTourSpiralNode entirely: 16-21 fps (18 average)
* Removing TrigTourSpiralNode and ReadoutDisplay: 20 fps
* Removing TrigTourSpiralNode, GraphView, ReadoutD

[2015-12-03 00:10] jessegreenberg commented on #62
In commit https://github.com/phetsims/trig-tour/commit/7bf96162a742eab7d83c00d737444d39e1f82893 above, the clip area shape is drawn with two arcs instead of line segments.

@jonathanolson suggested that performance could be enhanced by restructuring the FractionNode so the entire node is not reconstructed every update.  This is what I will look into next

@jonathanolson also suggests that many per

[2015-12-03 18:11] jessegreenberg commented on #62
Reviewing the code in ReadoutNode and FractionNode, it looks like the implementation is rewriting all nodes on the panel, not just those that are visible.  Performance could benefit from a restructure of the ReadoutNode.  The code would also benefit from a reduction in complexity.

[2015-12-03 18:56] jessegreenberg commented on #62
Recalling that removing the entire ReadoutNode from the ScreenView has no significant impact on performance, I am inclined to wait until @jonathanolson completes the Scenery optimizations mentioned above to give the ReadoutNode an overhaul in implementation.

[2015-12-14 22:15] jessegreenberg commented on #62
Preventing block fitting seems to have little impact on performance in trig-tour.  Frame rate fluctuates between 8-14 fps, about the same as before.

[2015-12-31 00:43] jessegreenberg commented on #61
Fixed in the commit above.  The spiral shape and indicator arrows will update even if the angle is larger than the max allowed angle.  The unit circle no longer feels stuck after dragging beyond the largest angle.  Closing.

[2015-12-31 00:43] #61 closed

[2015-12-31 00:59] jessegreenberg commented on #64
Here is the readout:
![readout](https://cloud.githubusercontent.com/assets/6396244/12059723/f0af2036-af1d-11e5-96ca-ddb7aedd9c17.PNG)

If we allow the order of the second row to be reversible, we should do the same for the first and third row.  I have a vague memory that @ariel-phet and @jessegreenberg discussed this already and verified that this was a case where RTL languages would read these eq

[2016-01-04 17:11] ariel-phet commented on #64
Correct @jessegreenberg - we have confirmed in several sims (like Graphing Lines) that it is fine to leave mathematical statements as purely LTR.

[2016-01-04 17:11] #64 closed

[2016-01-13 23:54] jessegreenberg opened #65 "branch: performance"
New branch created to test performance and search for components and aspects of the sim which are costly in framerate for tablets.

From https://github.com/phetsims/trig-tour/issues/62.

[2016-01-14 00:09] jessegreenberg opened #66 "Distribute property callbacks in TrigTourScreenView"
Out of issue #65, I noticed that many of the property callbacks in TrigTourScreenView can be distributed to other view components.  This should reduce the TrigTourScreenView filesize and the number of references to other view components.  This would benefit the code, and could even improve performance.

[2016-01-14 00:15] jessegreenberg opened #67 "White sheet under UnitCircleView should be moved to UnitCircleView.js"
This is part of the UnitCircleView node, it would be better to organize outside of the screen view.

[2016-01-14 01:14] jessegreenberg commented on #65
Performance seems signficantly improved when we refrain from setting the clipArea, but also when we remove shape from the TrigTourSpiralNode.

[2016-01-14 01:19] jessegreenberg commented on #65
Note that for these tests, I am working in a branch where the Readout and graphs are removed entirely.

With the spiral shape on screen and the clipArea being updated, I observe a framerate of ~11 fps.
With the spiral shape removed and the clipArea being updated I observe a framerate of ~35 fps.

![img_0052](https://cloud.githubusercontent.com/assets/6396244/12313135/255e4f1e-ba22-11e5-9f21-b64543

[2016-01-14 18:22] jessegreenberg commented on #66
Scratch that, this will not provide a performance benefit, these only involve view properties which are not updated every frame.  This should still be done for code cleanliness

[2016-01-14 20:23] jessegreenberg commented on #66
Properties were redistributed from the screenView to other view components.  At this point, functions and variables can likely be made private now that they are no longer referenced in the TrigTourScreenView.  I will go through and look for this next.

[2016-01-14 20:44] jessegreenberg commented on #66
```viewProperties.specialAnglesVisibleProperty``` of ReadoutDisplay.js should be handled in ReadoutNode.js

[2016-01-15 17:37] jessegreenberg commented on #62
Met with @jonathanolson to discuss potential performance improvements.  He gave the following list of recommendations that could improve performance by reducing the number of hit, fit, resize, and bounds related computations.

  - [ ] Axis labels should not be children of the axes.
  - [ ] Arrow should not be a child of the draggable circle node
  - [ ] Set ```resize=false``` on Hboxes and VBoxes

[2016-01-15 17:55] jessegreenberg commented on #66
Done.  Again, many values can now be made private in ReadoutNode.

Now that ReadoutNode is handling the visibility of its components, the file size has grown too large.  It should be refactored for organization.

[2016-01-15 18:18] jessegreenberg opened #68 "Trig tour needs a namespace"
Trig tour needs a namespace.

[2016-01-16 01:28] jessegreenberg commented on #66
Done in the commits above. Property callbacks have been distributed to various view types so that the burden is taken away from the screen view and ReadoutNode.js.  Closing.

[2016-01-16 01:28] #66 closed

[2016-01-19 23:23] jessegreenberg commented on #67
Ah, now I see that the white sheet needs to be in the screen view so that the layering and transparency of the unit circle graph are correct.  Noted in the code and closing.

[2016-01-19 23:23] #67 closed

[2016-01-20 18:17] jessegreenberg commented on #62
For the remaining two recommendations, I tried removing the spiral Paths and replacing all HTMLText  with Text before starting.  Together, these optimizations improved performance by a significant amount.  Removing the spirals seemed to provide the most benefit, but replacing HTMLText also helped.  I will start with the HTMLText replacement because it is the easiest then move to optimizing the spi

[2016-01-20 22:16] jessegreenberg commented on #62
HTMLText replaced with scenery Text.  Performance is better, but not quite there yet.  Up next is the SpiralNode.

[2016-01-21 00:58] jessegreenberg commented on #62
TrigTourSpiralNode converted to image.  Performance is much improved!  However, the load time for the iPad2 is now over 40 seconds.  Perhaps with ```width``` and ```height``` variables of the ```toImage``` callback we can reduce the resolution?  If not, we can either:

1) Add other image files to assets that represent the spiral node
2) Try one of the other two solutions listed above

 Canvas opti

[2016-01-21 22:48] jessegreenberg commented on #62
We should be able to save the the rendered image and then load back in.  Potentially as a mipmap to improve quality for certain browsers.  This would not be a difficult change.  Drawing code will be left in TrigTourSpiralNode for documentation.  This should enhance image quality and bring down the load time.

[2016-01-21 23:14] jessegreenberg commented on #68
trigTour namespace added.  Closing.

[2016-01-21 23:14] #68 closed

[2016-01-22 20:42] jessegreenberg commented on #62
Unfortunately, the image doesn't scale perfectly when taken from chrome resource tools.  The arrow head of the spiral needs to follow the spiral path exactly, and it looks off if the image gets scaled incorrectly by chrome resources.

[2016-01-22 20:45] jessegreenberg commented on #62
Improving image resolution does not help.

[2016-01-22 22:00] jessegreenberg commented on #62
With some minor offsets, the spiral image is centered correctly.  Pulling in the images from chrome resources reduced load time to ~9 seconds on the iPad2 (RequireJS version).

[2016-01-22 22:06] jessegreenberg commented on #62
I now notice an artifact from this optimization, only on iPad2:

![artifact](https://cloud.githubusercontent.com/assets/6396244/12524325/7dd09190-c119-11e5-9006-5c98da6172c9.png)

A very small piece from the next spiral rotation is visible.

[2016-01-22 22:14] jessegreenberg commented on #62
Slight increase to the initial radius of the arc for the clip area does the trick.

[2016-01-22 22:51] jessegreenberg opened #69 "Not enough space in ReadoutNode"
Recent layout changes to the LayoutNode are mostly good, but the content is a little cramped now.  Some pixel polishing is needed to get it looking like earlier dev versions.

[2016-01-22 23:12] jessegreenberg commented on #69
Done, closing.

[2016-01-22 23:12] #69 closed

[2016-01-23 04:56] jonathanolson commented on #62
If you are using toImage() to generate it in the first place, it should provide in the callback an exact offset that you will need to position it properly.

[2016-01-23 19:55] jessegreenberg commented on #62
True, but I want to avoid calling toImage() since it takes so long to render the image on iPad.  When toImage was used, it was centered correctly.  It looks like the saved image had a couple pixels of negative space around the bounds.  Accounting for this, the image is aligned correctly again.

[2016-01-25 20:59] phet-steele opened #70 "1.0.0-dev.19 proposed layout changes"
@amanda-phet @dubson @ariel-phet @jessegreenberg I have a few layout questions with this sim. It's obvious to me that some panels are not aligned well (in my opinion) and some things look out of place. Look below, and if there was ever a reason that changes 1,2, and 3 shouldn't happen and they are the way they are for a reason, don't worry about it. I do think change 4 needs to happen regardless.

[2016-01-25 21:11] phet-steele opened #71 "Breaking the rotation limit"
@jessegreenberg you saw me do this already, but it's possible to move past the rotation limit and make the arrow unresponsive. To do this you simply need to rotate really fast, I'd recommend not rotating in a circular direction but instead move in a straight line from one side of the circle to the next to "skip" the arrow around (really that's the best anyone could explain this :smile:)

The head

[2016-01-25 21:18] amanda-phet commented on #70
Thanks @phet-steele .

1-2. I'm fine with that change. The background and stroke around the circle came later in the design and we just never adjusted things.
3. I see where you're coming from but convention is to label to the right of the arrow. Instead I would vote for making that panel wider to fit the x (similar to the graph below).
4. How strange! Let's definitely fix that!

[2016-01-25 21:21] phet-steele commented on #70
@amanda-phet making the panel wider to fix the x is probably a better idea. I just realized my way would have ran into problems with the y when labels were turned on:

![trigxyprob](https://cloud.githubusercontent.com/assets/5863899/12564872/d75defee-c36e-11e5-9a68-7d87cd7cb46b.PNG)

[2016-01-25 22:33] jessegreenberg commented on #70
Here is the proposed change list after comments from @phet-steele and  @amanda-phet.

- [ ] Move the Values panel up and to the left to be horizontally aligned with the unit circle box and vertically aligned with the graph display.
- [ ] Move the radio/check-box panel up and to the right to be horizontally aligned with the unit circle box and vertically aligned with the graph display.
- [ ] Make t

[2016-01-25 22:48] dubson commented on #70
I don't think I have any objection with re-alignment, definitely worth trying to see what it looks like.  As for ResetAllButton, I prefer a lighter, smaller button than the norm (but with the same size hit area).

[2016-01-25 22:49] ariel-phet commented on #70
Those changes look fine to me.

[2016-01-25 22:57] phet-steele commented on #70
@dubson wants to revise what he said above, I just spoke with him. He would prefer us to keep the button small but make the hit area larger (as large as the normal one I presume) because he realizes there is trouble hitting this button on a touch screen.

[2016-01-26 00:35] jessegreenberg commented on #71
Great catch @phet-steele, thanks!  This should be fixed, would you mind verifying that it can no longer be reproduced?

I also changed the drag handler slightly so that the sim will stay in `special angles` mode even if the rotor is dragged too far.

[2016-01-26 17:27] phet-steele opened #72 "Edge has some random lines in the Values panel"
No special steps required, here they are:

![trigtourlinesonedge](https://cloud.githubusercontent.com/assets/5863899/12588649/e30c3faa-c416-11e5-97e4-5e0472e18c33.JPG)

Tested on 1.0.0-dev.19 with Galileo (Win 10). For phetsims/tasks/issues/486

Troubleshooting information:
Name: ‪Trig Tour‬
URL: http://www.colorado.edu/physics/phet/dev/html/trig-tour/1.0.0-dev.19/trig-tour_en.html
Version: 1.0.0-

[2016-01-26 18:02] phet-steele opened #73 "Special angles rotation moves (x,y)"
Rotating while in Special Angles view will move the (x,y) values upward on some devices. Rotation speed doesn't matter, fast rotating only speeds up the process. Reset all does not fix this, only refreshing the page will. Video in iE11 Win 8.1:

![trito2](https://cloud.githubusercontent.com/assets/5863899/12589647/0885f51e-c41c-11e5-8717-1b1c74a5f9ba.gif)

Multiple devices were tested and some sho

[2016-01-26 21:44] phet-steele commented on #73
On chromebook the (x,y) values move downward...

[2016-01-27 21:57] jessegreenberg commented on #70
I made the above changes, keeping the size of the ResetAllButton and increasing the radius of the touch area. Here is the new layout.

![new-layout](https://cloud.githubusercontent.com/assets/6396244/12629660/0ffbd1ac-c506-11e5-89e7-f8bc272bcf57.PNG)

Reassigning to @amanda-phet for review, but tagging @dubson @phet-steele @ariel-phet  for any additional review comments.

[2016-01-27 22:05] amanda-phet commented on #70
I appreciate the screenshot so I don't have to hunt down the dev version.

Looks good to me! However I see one minor tweak that would be nice but is not essential:

The y-axis for the unit circle goes edge-to-edge within the containing panel. Can we do the same with the y-axis for the graph of the function?

[2016-01-27 22:08] jessegreenberg commented on #73
Reproduced on Windows 10 Chrome 48, but the effect is *much* less significant, it took ~60 rotations before I noticed.

[2016-01-27 23:16] jessegreenberg commented on #70
Sure @amanda-phet!  Would you like to increase the height of the y-axis or decrease the height of the panel?

[2016-01-27 23:42] amanda-phet commented on #70
Probably increase the height of the y-axis since the panel is already small.

Thanks!

[2016-01-28 00:03] jessegreenberg commented on #70
Sounds good!  Here is what the change looks like:
![new-layout](https://cloud.githubusercontent.com/assets/6396244/12632774/bb0139b4-c517-11e5-8b75-9f1b6b86629a.PNG)

What do you think @amanda-phet?

[2016-01-28 05:14] ariel-phet commented on #70
@jessegreenberg please do increase the size of the reset all button. I understand @dubson does not want it the default size, but we do also want consistency, and it is oddly small currently. It does not need to be the full default size, but perhaps split the difference between the current size and the default size.

[2016-01-28 05:31] jessegreenberg commented on #70
I increased the radius of the button a bit so that it is between the default and the previous size.  Here is the what the layout looks like now:

![capture](https://cloud.githubusercontent.com/assets/6396244/12635909/6fe19e78-c545-11e5-80a8-eb41bedc7492.PNG)

Back to @amanda-phet.

[2016-01-28 05:36] jessegreenberg opened #74 "TrigTourArrowNodes have large stroke in Edge"
While fixing #72, I noticed that the arrows have a very black stroke in Edge that is not visible in other browsers.
![layout-view](https://cloud.githubusercontent.com/assets/6396244/12635981/30bedcdc-c546-11e5-97a4-46149d32e5a2.PNG)

[2016-01-28 05:37] jessegreenberg commented on #72
Fixed by explicitly setting the stroke and the lineWidth.  Verified that they are no longer visible.  Closing.

[2016-01-28 05:37] #72 closed

[2016-01-28 05:37] ariel-phet opened #75 "Add Jesse to credits"
@jessegreenberg please add yourself to the software development credits.

[2016-01-28 06:05] jessegreenberg commented on #73
This should be fixed.  I tested the commit above with Windows 10 and Chrome, Edge, and Firefox, as well as iPad2 Safari.  Unable to reproduce.

[2016-01-28 06:10] jessegreenberg commented on #75
Added! Closing.

[2016-01-28 06:10] #75 closed

[2016-01-28 17:14] amanda-phet commented on #70
It all looks great to me.

[2016-01-28 17:41] jessegreenberg commented on #70
Great, thanks! Closing.

[2016-01-28 17:41] #70 closed

[2016-01-28 17:58] jessegreenberg commented on #74
In general, it looks like strokes are *significantly* larger in Edge.

[2016-01-28 18:20] jessegreenberg commented on #74
Fixed for edge, closing.

[2016-01-28 18:20] #74 closed

[2016-01-28 18:44] jessegreenberg commented on #71
@phet-steele I have a new dev version out: http://www.colorado.edu/physics/phet/dev/html/trig-tour/1.0.0-dev.20/trig-tour_en.html

Would you be able to verify that this issue is resolved in that version?

[2016-01-28 18:45] jessegreenberg commented on #73
@phet-steele I have a new dev version here: http://www.colorado.edu/physics/phet/dev/html/trig-tour/1.0.0-dev.20/trig-tour_en.html

Would you be able to verify that this is fixed?

[2016-01-28 19:21] phet-steele commented on #71
@jessegreenberg verified!

[2016-01-28 19:21] #71 closed

[2016-01-28 19:28] phet-steele commented on #73
@jessegreenberg fixed!

[2016-01-28 19:28] #73 closed

[2016-01-28 22:25] jessegreenberg commented on #65
Performance branch deleted.  Performance is is good on iPad2, changes related to performance were documented in #62.  Closing.

[2016-01-28 22:27] #65 closed

[2016-01-28 22:28] jessegreenberg commented on #62
Performance on the iPad is great.  Recent dev testing verified that performance on iPad2 is satisfactory with a good load time. This issue can be closed.

[2016-01-28 22:28] #62 closed

[2016-02-03 18:28] phet-steele opened #76 "Edge does not show asymptote"
@jessegreenberg instead Win 10, Edge shows a solid line (not dashed):

![trigtourasymptoteonedge](https://cloud.githubusercontent.com/assets/5863899/12792359/a786018e-ca68-11e5-8fe1-5e3404d5b449.JPG)

Tested with Galileo. For phetsims/tasks/issues/495

Troubleshooting information:
Name: ‪Trig Tour‬
URL: http://www.colorado.edu/physics/phet/dev/html/trig-tour/1.0.0-rc.1/trig-tour_en.html
Version: 1

[2016-02-04 01:07] jessegreenberg commented on #76
It looks like Edge handles lineDash differently than other browsers?  I observe this issue in Acid-Base Solutions as well.  However, I do not notice this in Capacitor Lab: Basics, or Area Builder, bother simulations that use lineDash in view code.

Creating an issue in scenery.

[2016-02-04 03:36] jonathanolson commented on #76
As noted in the Scenery ticket, I fixed this bug with the commit https://github.com/phetsims/scenery/commit/838086baa1514417379c20f5d945ced6258d74c2.

[2016-02-04 05:54] ariel-phet opened #77 "Pointer area for Reset All and "Values" accordion box should be increased"
@jessegreenberg going through the master checklist I was looking at the PointerAreas

It seems the pointer areas for both the Reset All button and the accordion box button for the Values panel should be increased in 1.0.0-rc.1

[2016-02-04 06:09] ariel-phet commented on #1
@jessegreenberg please make phethelp the owner of the test matrix

[2016-02-04 15:04] ariel-phet opened #78 "Teaching tips"
@phet-steele to help out @amanda-phet we were hoping you could start on the teacher tips for this sim. More details in an email.

[2016-02-04 18:13] jessegreenberg commented on #76
Awesome, thank you @jonathanolson!  Looks great, verified as fixed on Edge.  Closing.

[2016-02-04 18:13] #76 closed

[2016-02-04 19:14] jessegreenberg commented on #77
Touch areas dilated in commits above.  Closing.

[2016-02-04 19:14] #77 closed

[2016-02-04 22:58] jessegreenberg commented on #14
The screenshot for deployment is part of the master checklist and will be generated prior to doing the deploy.  This can now be closed.

[2016-02-04 22:58] #14 closed

[2016-02-05 00:58] jessegreenberg commented on #1
Made new matrix under gmail domain and it is owned by phethelp.  Reassigning to @ariel-phet.

[2016-02-05 16:24] phet-steele commented on #78
I finished my draft and sent it to @amanda-phet yesterday (2/4) afternoon.

[2016-02-05 20:29] amanda-phet commented on #78
Final docs are uploaded to the google drive folder. The PDF can be uploaded when the rest of the sim information is entered on the site.

[2016-02-05 20:29] #78 closed

[2016-02-08 05:22] ariel-phet opened #79 "Upload website info and make sim visible"
@phet-steele this should be your top priority for Monday 2/8/2016

Trig-tour has been published to the website but the project is not yet visible.

Before the sim is made visible we need to upload the related website info. @amanda-phet put all the necessary information into the [design doc](https://docs.google.com/document/d/12IGXWoa7LdWjlMFH1aVvkOZOL1cFkTOLc0mGRKWmy3Q/edit#heading=h.mv3glozfezqu)

[2016-02-08 16:24] phet-steele commented on #79
@ariel-phet done!

[2016-02-08 17:31] ariel-phet commented on #79
excellent closing

[2016-02-08 17:31] #79 closed

[2016-02-08 17:32] phet-steele commented on #1
@ariel-phet @amanda-phet @jessegreenberg sim is visible!

[2016-02-08 17:35] ariel-phet commented on #1
Awesome!...and it already has 3 translations!

[2016-02-08 17:38] ariel-phet commented on #1
@jessegreenberg can you finish off the implementation steps (changing read-me and model description) then reassign to me?

[2016-02-08 18:11] jessegreenberg commented on #1
New readme generated and model.md was done as part of the code review. Reassigning to @ariel-phet.

[2016-03-15 20:50] ariel-phet opened #80 "Future suggestions from Susan"
Susan had the following future suggestions

[2016-03-24 18:29] pixelzoom opened #81 "missing @param for maxPanelWidth in ReadoutDisplay"
[code]

[2016-03-24 19:40] jessegreenberg commented on #81
Good eye @pixelzoom.  Added ```@param``` to the JSDoc.  Closing.

[2016-03-24 19:40] #81 closed

[2016-08-25 23:43] pixelzoom opened #82 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:36] pixelzoom commented on #82
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:36] #82 closed

[2016-09-15 22:49] pixelzoom opened #83 "lint errors"
After adding eslint rules related to switch statements (https://github.com/phetsims/chipper/issues/485), this sim is failing lint.

[code]

[2016-09-16 01:27] pixelzoom commented on #83
Fixed, @jessegreenberg please review.

[2016-12-05 16:32] jessegreenberg commented on #83
Thanks @pixelzoom this is much better.

[2016-12-05 16:32] #83 closed

[2017-06-15 16:59] jessegreenberg opened #84 "Replace PropertySet"
From https://github.com/phetsims/axon/issues/102, PropertySet is deprecated and should be replaced with  Property.

[2017-07-05 16:51] #1 closed

[2017-07-05 16:51] ariel-phet opened #85 "Sim primer"
Trig tour could use a sim primer, but low priority

[2017-07-07 14:29] veillette opened #86 "Font Size and Alignment of graph type is incorrect."
![image](https://user-images.githubusercontent.com/7633344/27962065-bc624718-62fe-11e7-84b1-e38ecbe365db.png)

While working on #84 , I noticed the font size and alignment on the cosine in the panel is incorrect. In addition the fontsize of the y-axis does not match the published version.

![image](https://user-images.githubusercontent.com/7633344/27962194-1c900a30-62ff-11e7-8f35-0a2ebb8a04a8.png)

[2017-07-07 14:44] veillette commented on #86
TrigFunctionLabelText is responsible for the layout of the two labels.

[2017-07-07 14:56] veillette commented on #86
I'm a bit flummoxed since it looks very proper.
[code]

[2017-07-07 14:59] veillette commented on #86
For the record, this is present in Firefox, and it is present on the build version as well.

[2017-07-07 15:14] veillette commented on #86
One issue is that the options are not passed properly.

[code]

[2017-07-07 15:18] veillette commented on #86
![image](https://user-images.githubusercontent.com/7633344/27964306-cc9616e4-6305-11e7-9586-bc561fb1e0c9.png)

Passing the options properly fixes the sizing and boldness but there is a misalignment issue.

I'm still very perplexed because the published version  shows none of these problems.

[2017-07-07 15:23] veillette commented on #86
For the record, the published version shows

![image](https://user-images.githubusercontent.com/7633344/27964556-af9c7596-6306-11e7-9ceb-f9c7612279f8.png)

[2017-07-07 15:27] veillette commented on #86
Assigning to @jessegreenberg since he has worked on TrigFunctionLabelText.

Please reassigned to me once you have tackled this as I would like to commit my conversion from PropertySet to Property. I'm waiting on this because I would rather not conflate these two issues.

[2017-07-07 15:45] jessegreenberg commented on #86
Thanks for catching @veillette, I am not sure why this has changed.  I will take a look at this today.

[2017-07-07 17:08] jessegreenberg commented on #86
Me too!!

[2017-07-07 17:32] jessegreenberg commented on #86
Layout and font of the "=" signs in the bottom row are wrong too.

[2017-07-07 17:32] veillette commented on #86
My best guess is that it must have to do with a change on how Scenery Text handles options.

[2017-07-07 17:33] jessegreenberg commented on #86
For the "=" Text, I see again
[code]

I wonder if Text used to take font param as an alternative to options?

[2017-07-07 18:13] jessegreenberg commented on #86
Font issues were sorted as part of phetsims/scenery#642, but the layout is still an issue.

[2017-07-07 18:30] veillette opened #87 "Missing or erroneous jsDoc in contsructors"
LabelFractionValueRow has incorrect jsDoc. We should fix the documentation of  constructors  throughout the simulation.

Assigning to myself.

[2017-07-07 18:43] veillette commented on #87
Done closing.

[2017-07-07 18:43] #87 closed

[2017-07-07 18:59] veillette commented on #86
Thanks @jessegreenberg.
Since this is clearly unrelated to the conversion from PropertySet to Property, i'll go ahead and addressed #84.

[2017-07-07 19:01] veillette commented on #84
Assigning to @jessegreenberg  for review.

[2017-07-07 19:04] jessegreenberg commented on #86
Great thanks @veillette.  The layout should be fixed in the above commit.  Is there anything else to do for this issue?

[2017-07-07 19:10] veillette commented on #86
I've reviewed your commits. Everything looks good. Closing.

[2017-07-07 19:10] #86 closed

[2017-07-07 19:10] jessegreenberg commented on #84
Changes look great, and thanks for the improvements to JSDoc and other documentation! Thanks so much for taking this one @veillette!

[2017-07-07 19:13] jessegreenberg commented on #84
Ah, there might be an issue with the radio buttons for radians vs degrees, the values don't seem to update when those change.

[2017-07-07 19:17] veillette commented on #84
setAngleReadout is AngleReadoutRow is not correct.

[2017-07-07 19:21] jessegreenberg commented on #84
Indeed thanks, should be fixed in the above commit.

[2017-07-07 19:28] veillette commented on #84
Good catch.
I've played some more with the simulation, checking on and off the checkBoxes and radio buttons. It behaves as expected.

fuzzMousing with assertions enabled did not  trigger anything..

[2017-07-07 20:18] jessegreenberg commented on #84
Thanks @veillette, I think that is all for this issue then.

[2017-07-07 20:18] #84 closed

[2018-03-15 00:59] samreid opened #88 "Should these strings be internationalized?"
In https://github.com/phetsims/scenery-phet/issues/353 @jessegreenberg said:

These internationalized strings are in Trig Tour:

[code]

We normally do not internationalize mathematical symbols--is there a reason they were internationalized for this sim?

It is difficult to rename translated strings, but easy to remove them, so if it's better to un-internationalize them we can do that.

[2018-03-15 05:22] jessegreenberg commented on #88
Hmm, I remember some discussion about this. Ill peruse the issues.

[2018-03-15 05:30] jessegreenberg commented on #88
From https://github.com/phetsims/trig-tour/issues/16, @ariel-phet said

...
We give translators the freedom to do whatever they wish in general, we tend to leave it up to them to make these sort of judgement calls. And yes, x and y should be translatable IMO
...
Usually the only things we don't allow to be translated are more on the legal side, such as our names in the credits or our copyright sta

[2018-03-15 05:34] jessegreenberg commented on #88
I searched through babel - none of the translators modified these strings. I am OK replacing with MathSymbols.js.

[2018-03-15 06:09] jessegreenberg opened #89 "infinity symbol not aligned"
Noticed while working on #88.
![capture](https://user-images.githubusercontent.com/6396244/37446939-14a3998a-27e5-11e8-94fa-cf038b2fc279.PNG)

[2018-03-15 06:31] jessegreenberg commented on #88
Done in the above commits. Closing.

[2018-03-15 06:31] #88 closed

[2018-03-15 17:42] amanda-phet commented on #88
That's correct. We typically do NOT allow x and y to be translated anymore. Thanks for investigating and making this update!

[2018-09-06 00:19] ariel-phet opened #90 "Change casing for "Special angles""
In this sim "Special angles" should be changed to "Special Angles" as we typically use title case for checkboxes and radio buttons

![45118216-23ed8b80-b115-11e8-8562-5c056f664ed2](https://user-images.githubusercontent.com/4051174/45127923-2b725c00-b138-11e8-9d3b-c02ebc4ed4e7.png)

[2018-09-06 00:38] phet-steele commented on #90
@ariel-phet done in https://github.com/phetsims/trig-tour/commit/5c587c9cc433f14f826a7cdabc40ee1d20656ca1 and https://github.com/phetsims/trig-tour/commit/e7223a8dc80dd62c6b02b8f714d6ef53278cd0f0.

[2018-11-07 18:35] KatieWoe opened #91 "CT: Unloaded frame before complete"
[code]

[2018-11-07 18:59] jessegreenberg commented on #91
Thanks for making an issue @KatieWoe. This specific error comes up on CT from time to time and is very unlikely to be a sim specific problem. @KatieWoe is there a good place where we can document issues like this?

[2018-11-07 19:13] KatieWoe commented on #91
Maybe the QA book?  I'm not sure.

[2018-11-07 19:17] phet-steele commented on #91
@KatieWoe please refer to this line in the QA book:

If this error is not happening frequently, there is no need to log anything.

[2018-11-07 19:20] KatieWoe commented on #91
Ok.  Thanks.

[2018-11-07 20:05] phet-steele commented on #91
I should say: "there is no need to log anything [or make an issue]".

[2018-11-07 20:05] #91 closed

[2019-02-05 18:33] pixelzoom opened #92 "replace StringUtils.format"
Noted in https://github.com/phetsims/scenery-phet/issues/446#issuecomment-460732512...

In CoordinatesRow:

[code]

First, let's do something about those var names. Var names start with lowercase, not uppercase.

Second is the use of a string pattern.  If you're using `StringUtils.format` to avoid string concatenation, why use string concat to create the pattern? And why tack on `equalString` usin

[2019-02-05 18:39] pixelzoom commented on #92
This would also be an excellent place to use an ES6 template string. Note the use of backquotes:

[code]

[2019-03-05 20:37] jessegreenberg opened #93 "don't use private expandedProperty from ExpandCollapseButton"
From https://github.com/phetsims/sun/issues/483

[2019-03-05 20:44] #93 closed

[2019-04-15 20:37] KatieWoe opened #94 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56163571-e1820c00-5f8b-11e9-9e81-045ef284

[2019-04-15 20:37] #94 closed

[2019-04-17 16:05] jessegreenberg commented on #92
Thanks, changed to an ES6 template string in the above commit and removed and removed StringUtils.format here.

[2019-04-17 16:05] #92 closed

[2019-07-29 17:34] amanda-phet opened #95 "Consider using PropertyFractionNode (common)"
Any sim that uses a fraction in a display might want to consider using (and modifying, if needed) the new fraction common code that was added due to https://github.com/phetsims/fractions-intro/issues/7 .

[2021-05-06 18:55] jessegreenberg commented on #89
Saw this again today.

[2021-05-06 18:59] jessegreenberg commented on #89
Fixed in the above commit.

[2021-05-06 18:59] #89 closed

[2021-05-06 22:35] jessegreenberg opened #96 "branch: math-symbols"
Found during https://github.com/phetsims/special-ops/issues/198. No work on this branch exists it is just behind master. I think it was for https://github.com/phetsims/trig-tour/issues/88.  Either way, I think this can be removed now.

[2021-05-06 22:35] #96 closed